:root{
  --bg-color:/*#160D5F;*/#0b1018;  /*#141517*/
}

body {
  /* font-family: 'Titillium Web', Helvetica, sans-serif; */
}
.Select {
  color: green;
}
.icon {
  color: green;
}

 /* .MuiSelect-outlined {
     border-color: black;
 }
 .MuiSelect-iconOutlined {
     color: #ececec;
 }
 .MuiInputLabel-root {
     color: #ececec; 
 } */