:root{
  --bg-color:/*#160D5F;*/#0b1018;  /*#141517*/
}

body {
  font-family: 'Titillium Web', Helvetica, sans-serif;
}

.ui.icon.button {
  padding-left: 1em;
  padding-right: 1em;
}

.ui.selection.dropdown{
  text-align: center;
}

a:visited,a:link{
  text-decoration: none;
  background-color: white;
  color:black;
  font-size:.75em;
  padding: 0em 1em 0em 1em;
  display:inline-block;
  border-radius: .5em;
}
a:hover{
  background-color: #c5c5c5;
}
/*#characters>#sfchar{
  display:none;
}*/
body{
  /*background-color: #009999;*/
  background-color: var(--bg-color);
  font-size: 100%;
}
#root{
    width: 100%;
    top:20%;
    left:50%;
    margin-left:-50%;
    margin-right: -50%;
    position: absolute;
}
#title{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    /* font-family: 'Open Sans', Helvetica, sans-serif; */
    font-size:2em;
    color:#fff;
    letter-spacing: .125em;
    margin-bottom: .5em;
}

#text{
    height: 1.5em;
    width: 100%;
    position: relative;
    /* margin: 0 auto; */
    margin-top: 2rem;
    text-align: center;
    /* font-family: 'Open Sans', Helvetica, sans-serif; */
    color:#e0e0e0;
    font-size: 2rem;
}
/* input:focus{
  border: .125em solid rgba(0,255,255,1);
} */

.ui.selection.visible.dropdown>.text:not(.default) {
  color: white;
}

#output{
    width: 100%;
    max-width:95%;
    margin: 0 auto;
    text-align: center;
}
.images{
  position: relative;
  top: 0;
}
.images span{
  font-size: .5em;
  display: inline-block;
  vertical-align: middle;
  margin-left:0;
  margin-right:0;
  color:white;
}
.images .small{
    vertical-align: middle;
    width: 3rem;
    height: 3rem;
    margin-left:0;
    margin-right:0;
}
.images .medium{
    vertical-align: middle;
    width: 4.5rem;
    height: 3rem;
    margin-left:0;
    margin-right:0;
}
.images .large{
    vertical-align: middle;
    width: 6rem;
    height: 3rem;
    margin-left:0;
    margin-right:0;
}
.images .extra-large{
  vertical-align: middle;
  width: 9rem;
  height: 3rem;
  margin-left:0;
  margin-right:0;
}
img:hover{
    background-color:#23334C;
}
