body{
	background-color: #587284;
	font-size: 100%;
}
#root{
     width: 75em;
     margin: 0 auto;
     background-color:yellow;
 }
#translator{
	width: 50em;
    margin: 0 auto;
    text-align: center;
    background-color:red;
}
#output{
    width: 50em;
    margin: 0 auto;
    text-align: center;
    background-color:blue;
}

/*INPUT IMAGES*/
.images{
	position: relative;
	top: 2em;
}
.images span{
	font-family: 'Open Sans', sans-serif;
	font-size: 2em;
	display: inline-block;
	vertical-align: middle;
}
.images img{
    vertical-align: middle;
}


/*INPUT BAR*/
input{
	width:20em;
	display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: .25em;
    border: .125em solid rgba(255,255,255,1);
    -webkit-border-radius: .25em;
    border-radius: .25em;
    font: normal 16px/0 'Open Sans', Helvetica, sans-serif;
    color: rgba(0,0,0,1);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgba(255,255,255,1);
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

input:focus{
	border: .125em solid rgba(0,255,255,1);
}