// $background-color: #222831;
$background-color: #30475e;
$header-color: #222831;
$font-color: #ececec;
$image-color: #f2a365;

html, body {
	font-family: 'Roboto', sans-serif;
	color: $font-color;
	background-color: $background-color;
}

// .Select.icon {
// 	color: green;
// }

// .MuiSelect-outlined {
//     border-color: #ececec;//for border color
// }
// .MuiSelect-iconOutlined {
//     color: #ececec;// for icon drop down icon color
// }
// .MuiInputLabel-root {
//     color: #ececec;// for lable color
// }

@mixin resize-320 {
	.title {
		width: 100vw;
		position: absolute;
		left: 0;
		top: 0;
		background-color: $header-color;
		padding: 0.2em 0.5em;
		h1 {
			font-size: 0.65em;
			text-transform: uppercase;
			letter-spacing: 0.1em;
		}
		nav {
			.button {
				font-size: 0.5em;
				text-decoration: none;
				margin: 0;
				color: $font-color;
			}
		}
	}
	.content {
		margin-top: 50%;
		flex-direction: column;
		.gamedropdown {
			margin-bottom: 1em;
			width: 100%;
			.form {
				width: 100%;
				.select {
					border: 0.1em solid;
					text-transform: uppercase;
					font-weight: 700;
					letter-spacing: 0.1em;
					color: $font-color;
				}
			}
		}
		.translator {
			width: 100%;
			color: $font-color;
			.textfield {
				width: 100%;
			}
		}
	}
	.text {
		margin: 1em 0; 
		font-size: 0.75em;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 0.1em;
	}
	.imageoutput {
		overflow-y: hidden;
		margin-top: 25%;
		border-radius: 10%;
		.images {
			padding: 0.5em;
			display: inline-block;
			img {
				
			}
		}
	}
}

@mixin resize-480 {
	.title {
		width: 100%;
		h1 {
			font-size: 0.75em;
			text-transform: uppercase;
			letter-spacing: 0.2em;
		}
		nav {
			.button {
				font-size: 0.6em;
				text-decoration: none;
				margin: 0;
			}
		}
	}
	.content {
		margin-top: 50%;
		flex-direction: column;
		.gamedropdown {
			margin-bottom: 1em;
			width: 100%;
			.form {
				width: 100%;
				.select {
					text-transform: uppercase;
					font-weight: 700;
					letter-spacing: 0.1em;
				}
			}
		}
		.translator {
			width: 100%;
			.textfield {
				width: 100%;
			}
		}
	}
	.text {
		margin: 1em 0; 
		font-size: 0.75em;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 0.1em;
	}
	.imageoutput {
		margin-top: 20%;
		.images.horizontal {
			display: flex;
			img {
				flex-direction: column;
			}
		}
		.images.vertical {
			display: flex;
			flex-direction: column;
		}
	}
}

@mixin resize-600 {
	.title {
		width: 100%;
		h1 {
			font-size: 0.75em;
			text-transform: uppercase;
			letter-spacing: 0.2em;
		}
		nav {
			.button {
				font-size: 0.6em;
				text-decoration: none;
				margin: 0;
			}
		}
	}
	.content {
		margin-top: 30%;
		flex-direction: column;
		.gamedropdown {
			margin-bottom: 1em;
			width: 100%;
			.form {
				width: 100%;
				.select {
					text-transform: uppercase;
					font-weight: 700;
					letter-spacing: 0.1em;
				}
			}
		}
		.translator {
			width: 100%;
			.textfield {
				width: 100%;
			}
		}
	}
	.text {
		margin: 1em 0; 
		font-size: 1em;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 0.1em;
	}
	.imageoutput {
		margin-top: 15%;
		.images.horizontal {
			display: flex;
			img {
				flex-direction: column;
			}
		}
		.images.vertical {
			display: flex;
			flex-direction: column;
		}
	}
}

@mixin resize-801 {
	.title {
		width: 100%;
		h1 {
			font-size: 0.75em;
			text-transform: uppercase;
			letter-spacing: 0.2em;
		}
		nav {
			.button {
				font-size: 0.6em;
				text-decoration: none;
				margin: 0;
			}
		}
	}
	.content {
		margin-top: 20%;
		flex-direction: column;
		.gamedropdown {
			margin-bottom: 1em;
			width: 100%;
			.form {
				width: 100%;
				.select {
					text-transform: uppercase;
					font-weight: 700;
					letter-spacing: 0.1em;
				}
			}
		}
		.translator {
			width: 100%;
			.textfield {
				width: 100%;
			}
		}
	}
	.text {
		margin: 1em 0; 
		font-size: 1em;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 0.1em;
	}
	.imageoutput {
		margin-top: 10%;
		.images.horizontal {
			display: flex;
			img {
				flex-direction: column;
			}
		}
		.images.vertical {
			display: flex;
			flex-direction: column;
		}
	}
}

@mixin resize-1025 {
	.title {
		width: 100%;
		h1 {
			font-size: 0.75em;
			text-transform: uppercase;
			letter-spacing: 0.2em;
		}
		nav {
			.button {
				font-size: 0.6em;
				text-decoration: none;
				margin: 0;
			}
		}
	}
	.content {
		margin-top: 20%;
		flex-direction: column;
		.gamedropdown {
			margin-bottom: 1em;
			width: 100%;
			.form {
				width: 100%;
				.select {
					text-transform: uppercase;
					font-weight: 700;
					letter-spacing: 0.1em;
				}
			}
		}
		.translator {
			width: 100%;
			.textfield {
				width: 100%;
			}
		}
	}
	.text {
		margin: 1em 0; 
		font-size: 1em;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 0.1em;
	}
	.imageoutput {
		margin-top: 10%;
		.images.horizontal {
			display: flex;
			img {
				flex-direction: column;
			}
		}
		.images.vertical {
			display: flex;
			flex-direction: column;
		}
	}
}

.app {
	@media (min-width: 320px) {
		@include resize-320();
	}
	@media (min-width: 480px) {
		@include resize-480();
	}
	@media (min-width: 600px) {
		@include resize-600();
	}
	@media (min-width: 801px) {
		@include resize-801();
	}
	@media (min-width: 1025px) {
		@include resize-1025();
	}
}