#output {
	width: 32px;
	.images.horizontal {
		background-color: blue;
		display: flex;
		img {
			flex-direction: column;
		}
	}
	.images.vertical {
		background-color: red;
		display: flex;
		flex-direction: column;
		img {
			background-color: green;
		}
	}
}